.table-responsive
  %table.table.table-striper.table-condensed
    %thead
      %tr
        %th 
        %th #
        %th Name
        %th.hidden-xs.hidden-sm="Club" if competition.club_marked?
        %th="Country" if competition.national?
        %th Time
        %th
    -competition.competitors_ranked.each_with_index do |competitor, position|
      %tbody
        %tr
          %td=position + 1 if competitor.result.is_a?(Numeric)
          %td=competitor.number
          %td=competitor.user.name
          %td.hidden-xs.hidden-sm=competitor.user.club
          %td=competitor.user.nationality if competition.national? 
          -if competitor.runs.count == 1
            %td=competitor.result_time_formatted or competitor.runs[0].verdict.upcase
            %td=competitor.result_time_difference_formatted
          -else
            %td DNS
            %td
