// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#main-center
{
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 24px;
  text-align: left;
}

#main-center-title
{
  font-size: 60px;
}

#main-center-content
{
  font-size: 30px;
  margin-right: 350px;
  font-weight: 300;
  line-height: 1.2;
}

#main-center-image
{
  border: 0px;
  height: 100px;
  width: 130px;
  padding-top: 50px;

}